<div class="container">
<form #contactForm="ngForm" (submit)="onSubmit(contactForm)">
  <h2>Template Driven Forms</h2>
<div>
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" name="firstName" ngModel>
</div>
<div>
  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" name="lastName" ngModel>
</div>
<div>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" ngModel>
</div>
<div>
  <label>Gender:</label><br>
  <input type="radio" id="male" name="gender" value="male" ngModel >
  <label for="male">Male</label><br>
  <input type="radio" id="female" name="gender" value="female" ngModel>
  <label for="female">Female</label><br>
</div>
<div>
  <label for="married">Married:</label>
  <input type="checkbox" id="married" name="married" ngModel>
</div>
<div>
  <label for="country">Country:</label>
  <select id="country" name="country" ngModel >
      <option value="" >Select Country</option>
      <option [ngValue]="country.id" *ngFor="let country of countryList" >{{country.name}}</option>
      <!-- Options will be dynamically added here -->
  </select>
</div>
<div>
  <button>Submit</button>
</div>
</form>
</div>
